---
import feactures from "../../config/feactures.json";
---

<section class="about__section" id="about">
    <article class="about__article">
        <h2 class="about__h2 global__h2">About <span class="about__span global__span">Me!</span></h2>
        <div class="about__div">
            <img src="/Astro-Portafolio/images/profile-2.webp" alt="Segunda foto de perfil." class="about__img">
            <span class="about__span--cir"></span>
        </div>
    </article>

    {
        feactures.map(feacture =>(
        <article class="about__article">
            <h3 class="about__h3">{feacture.title}</h3>
            <p class="about__p">{feacture.description}</p>
        </article>
        ))
    }

    <article class="about__article global__btn--box">
        <button class="about__btn global__btn">Read More</button>
    </article>
</section>