<section class="contact__section" id="contact">
    <h2 class="contact__h2 global__h2">Contact <span class="global__span">Me!</span> </h2>
    <form action="#" class="contact__form">
        <div class="contact__div--fbox">
            <div class="contact__div--field">
                <input type="text" placeholder="Full Name" required class="contact__input" name="fullName">
                <span class="contact__span"></span>
            </div>
            <div class="contact__div--field">
                <input type="text" placeholder="Email Address" class="contact__input" name="emailAdress" required>
                <span class="contact__span"></span>
            </div>
        </div>
        <div class="contact__div--fbox">
            <div class="contact__div--field">
                <input type="tel" maxlength="13" placeholder="Mobile Number (13 characters max.)" class="contact__input" 
                    name="mobileNumber" required>
                <span class="contact__span"></span>
            </div>
            <div class="contact__div--field">
                <input type="text" placeholder="Email Subject" class="contact__input" name="emailsubject" required>
                <span class="contact__span"></span>
            </div>
        </div>
        <div class="contact__box--txt">
            <textarea name="message" id="" cols="30" rows="10" placeholder="You Menssage" class="contact__input contact__input--txt" 
                name="message" required></textarea>
            <span class="contact__span"></span>
        </div>
        <div class="contact__article--box global__btn--box">
            <button type="submit" class="contact__btn global__btn">Submit</button>
        </div>
    </form>
</section>