<footer class="footer">
    <article class="footer__article">
        <p class="footer__p">Copyright &copy; 2023 | by Lombardi Matias <br>All Rights Reserverd.</p>
    </article>
    <article class="footer__article">
        <a href="#" class="footer__a"><img src="/Astro-Portafolio/icons/arrow.svg" alt="Pulse para volver a la pagina de inicio." class="footer__i"></a>
    </article>
</footer>