<footer class="footer">
    <article class="footer__article">
        <p class="footer__p">Copyright &copy; 2023 by Lombardi Matias | All Rights Reserverd.</p>
    </article>
    <article class="footer__article">
        <a href="#" class="footer__a"><i class="fa-solid fa-angles-up footer__i"></i></a>
    </article>
</footer>