<script>
	// Mostrar y ocultar navbar
const menuIcon = document.getElementById('menu__icon') as HTMLImageElement;
const navbar = document.getElementById('header__nav');
const sections = document.querySelectorAll('section');
const navlink = document.querySelectorAll('header nav li');
const navImg = document.querySelectorAll('header nav ul li i img');

    menuIcon?.addEventListener('click', () => {
        navbar?.classList.toggle('active');

        if (navbar?.classList.contains('active')){
            menuIcon.src = '/Astro-Portafolio/icons/x-mark.svg';
        } else {
            menuIcon.src ='/Astro-Portafolio/icons/list-fill.svg';
        }
    });

window.onscroll = () => {
		//Sticky header
		const header = document.querySelector('header') as HTMLElement;
		header.classList.toggle('sticky', window.scrollY > 100);


		sections.forEach(sec =>{
        let top = window.scrollY;
        let offset = sec.offsetTop - 100;
        let heigth = sec.offsetHeight;
        let id = sec.getAttribute('id');

        if (top >= offset && top < offset + heigth){
            // Active navbar link
            navlink.forEach(links =>{
                links.classList.remove('active');
                document.querySelector('header nav li[id*= li-'+ id + ']')?.classList.add('active');
            });

			navImg.forEach(imgs =>{
				imgs.classList.remove('active');
				document.querySelector('header nav ul li i img[id*= img-'+ id + ']')?.classList.add('active');
			});
        };
    });
}
</script>

<header class="header">
	<h1 class="header__h1"><a href="#" class="header__a">LombardiDev.</a></h1>
	<img src="/Astro-Portafolio/icons/list-fill.svg" class="img__icon" id="menu__icon" alt=""/>
	<nav class="header__nav" id="header__nav">
		<ul class="header__ul" id="header__ul">
			<li class="header__li active" id="li-home">
				<a href="#home" class="header__a header__a--nav">Inicio</a>
				<svg class="img__icon--li active" id="img-home">
					<use xlink:href="/Astro-Portafolio/icons/sprite.svg#house-user"></use>
				</svg>
			</li>
			<li class="header__li" id="li-about">
				<a href="#about" class="header__a header__a--nav">Sobre Mí</a>
				<svg class="img__icon--li active" id="img-about">
					<use xlink:href="/Astro-Portafolio/icons/sprite.svg#user-circle"></use>
				</svg>
			</li>
			<li class="header__li" id="li-project">
				<a href="#project" class="header__a header__a--nav">Proyectos</a>
				<svg class="img__icon--li active" id="img-project">
					<use xlink:href="/Astro-Portafolio/icons/sprite.svg#open-folder"></use>
				</svg>
			</li>
			<!-- <li class="header__li" id="li-skill">
				<a href="#skill" class="header__a header__a--nav">Conocimientos</a>
				<i
					><img
						src="/Astro-Portafolio/icons/medal-star.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li> -->
			<li class="header__li" id="li-education">
				<a href="#education" class="header__a header__a--nav"
					>Educación</a
				>
				<svg class="img__icon--li active" id="img-education">
					<use xlink:href="/Astro-Portafolio/icons/sprite.svg#book"></use>
				</svg>
			<!-- </li>
			<li class="header__li" id="li-contact">
				<a href="#contact" class="header__a header__a--nav">Contacto</a>
				<i
					><img
						src="/Astro-Portafolio/icons/mailbox.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li> -->
		</ul>
	</nav>
</header>
