<script>
	// Mostrar y ocultar navbar
	const menuIcon = document.getElementById('menu__icon') as HTMLImageElement;
    const navbar = document.getElementById('header__nav');

    menuIcon?.addEventListener('click', () => {
        navbar?.classList.toggle('active');

        if (navbar?.classList.contains('active')){
            menuIcon.src = '/Astro-Portafolio/icons/x-mark.svg';
        } else {
            menuIcon.src ='/Astro-Portafolio/icons/list-fill.svg';
        }
    });

// **********
// Armar nuevamente la logica para la seleccion activa del navbar
// ***********

window.onscroll = () => {
		//Sticky header
		const header = document.querySelector('header') as HTMLElement;
		header.classList.toggle('sticky', window.scrollY > 100);
}
</script>


<header class="header">
	<h1 class="header__h1"><a href="#" class="header__a">LombarDev.</a></h1>
	<img src="/Astro-Portafolio/icons/list-fill.svg" class="img__icon" id="menu__icon" alt=""/>
	<nav class="header__nav" id="header__nav">
		<ul class="header__ul" id="header__ul">
			<li class="header__li active" id="li-home">
				<a href="#home" class="header__a header__a--nav">Inicio</a>
				<i
					><img
						src="/Astro-Portafolio/icons/house-user.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li>
			<li class="header__li" id="li-about">
				<a href="#about" class="header__a header__a--nav">Sobre Mí</a>
				<i
					><img
						src="/Astro-Portafolio/icons/user-circle.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li>
			<li class="header__li" id="li-project">
				<a href="#project" class="header__a header__a--nav">Proyectos</a>
				<i
					><img
						src="/Astro-Portafolio/icons/folder-open.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li>
			<!-- <li class="header__li" id="li-skill">
				<a href="#skill" class="header__a header__a--nav">Conocimientos</a>
				<i
					><img
						src="/Astro-Portafolio/icons/medal-star.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li> -->
			<li class="header__li" id="li-education">
				<a href="#education" class="header__a header__a--nav"
					>Educación</a
				>
				<i
					><img
						src="/Astro-Portafolio/icons/book.svg" 
						class="img__icon--li" 
						alt="" 
					/></i
				>
			<!-- </li>
			<li class="header__li" id="li-contact">
				<a href="#contact" class="header__a header__a--nav">Contacto</a>
				<i
					><img
						src="/Astro-Portafolio/icons/mailbox.svg"
						class="img__icon--li"
						alt=""
					/></i
				>
			</li> -->
		</ul>
	</nav>
</header>
