<section class="home__section active" id="home">
    <article class="home__article home__article--leng">
        <h6 class="home__leng-h6">Language</h6>
        <div class="home__div home__div--leng">
            <input type="checkbox" class="home__input home__input--leng" id="home__label">
            <label for="home__label" class="home__label--lbl">
                <img src="/Astro-Portafolio/public/icons/us.webp" class="label__img label__img-us"></img>
                <img src="/Astro-Portafolio/public/icons/es.webp" class="label__img label__img-es"></img>
            </label>
        </div>
    </article>

    <article class="home__article home__article--content">
        <div class="home__div home__div--txt">
            <h2 class="home__h2"><span class="home__span global__span">Hi there 👋!</span><br>I'm Matias Lombardi</h2>
            <div class="home__div home__div--h3">
                <h3 class="home__h3">Analyst Functional & Frontend Developer</h3>
            </div>
            <p class="home__p">Have been working in the programming world for +5 years.
                Currently work as a Functional Analyst and I am a self-taught web developer. During my career in systems I have been fond of programming so I decided to expand my knowledge as a developer. Through my experience in Data Analysis, I have acquired skills in programming, planning and complex problem solving.<br>
                If you are interested in knowing more about me you are in the right place.
            </p>
        </div>
        <div class="home__div home__div--img">
            <img src="/Astro-Portafolio/public/images/profile-sc2sf.webp" alt="Primera foto de perfil." class="home__img home__img--user">
        </div>
    </article>

    <article class="home__article global__btn--box">
        <button class="home__dcv global__btn" id="home__dcv">Download CV</button>
        <button class="home__lt global__btn">Let's Talk</button>
    </article>

    <article class="home__article home__article--rrss">
            <a href="https://github.com/Lombardimn" class="home__a" target="_blank"><img src="/Astro-Portafolio/public/icons/github-loop.svg" alt="" class="home__i"></a>
            <a href="https://www.instagram.com/lombardimn/" class="home__a" target="_blank"><img src="/Astro-Portafolio/public/icons/ig-logo.svg" alt="" class="home__i"></a>
            <a href="https://linkedin.com/in/mnlombardi" class="home__a" target="_blank"><img src="/Astro-Portafolio/public/icons/linkedin.svg" alt="" class="home__i"></a>
    </article>
</section>