.about__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    padding: .5rem 1rem;
}

.global__h2{
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin-top: 3.3rem;
    text-align: center;
}

.about__div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
}

.about__img{
    width: 90%;
    border-radius: 50%;
    border: .15rem solid var(--main-color);
    background-color: var(--bg-color);
}

.about__span--cir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .15rem solid var(--second-bg-color);
    border-bottom: .15rem solid var(--second-bg-color);
    border-left: .15rem solid var(--main-color);
    border-right: .15rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about__article{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__h3{
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
}

.about__p,
.about__pp2,
.about__p2{
    position: relative;
    text-align: left;
    font-size: .875rem;
    margin: 1rem 0 1rem;
    max-width: 80%;
}

.about__p2{
    display: none;
}


.about__btn{
    min-height: 3rem;
    margin-bottom: 1.5rem;
}