.home__section{
    position: relative;
    background-color:  var(--bg-color);
    color: var(--text-color);
    padding-top: 6rem;
}

.home__article{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.home__div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home__div--leng{
    width: 100%;
    justify-content: flex-end;
    z-index: 10;
}

.home__input{
    position: relative;
    appearance: none;
    outline: none;
}

.home__article--leng{
    flex-direction: column;
    align-items: flex-end;
}

.home__leng-h6{
    font-size: 12px;
    font-family: 'Biryani', sans-serif;
    font-style: italic;
    padding-right: 0.25rem;
}

.home__label--lbl{
    width: 4rem;
    height: 2rem;
    position: relative;
    display: block;
    background-color: var(--bg-color);
    border-radius: 2rem;
    box-shadow: inset 0 .3125rem 1rem rgba(0, 0, 0, .4), 
        inset 0 -.3125rem 1rem rgba(255, 255, 255, .4);
    cursor: pointer;
    transition: 1s;
}

.home__label--lbl::after{
    content: '';
    width: 1.6875rem;
    height: 1.6875rem;
    position: absolute;
    top: .15625rem;
    left: .15625rem;
    background: linear-gradient(180deg, var(--text-color), var(--main-color));
    border-radius: 1.6875rem;
    box-shadow: 0 .3125rem .625rem rgba(0, 0, 0, .2);
    transition: 1s;
}

.home__input--leng{
    width: 0;
    height: 0;
    visibility: hidden;
}

.home__input--leng:checked + .home__label--lbl{
    background-color: var(--second-bg-color);
}

.home__input--leng:checked  + .home__label--lbl::after {
    left: 3.8rem;
    transform: translateX(-100%);
    background: linear-gradient(180deg, var(--text-color), var(--main-color));
}

.home__label--lbl:active::after{
    width: 2.625rem;
}

.label__img{
    position: absolute;
    width: 1rem;
    top: .5rem;
    z-index: 100;
}

.label__img-us{
    left: .5rem;
    opacity: 1;
    transition: 1s;
}

.label__img-es{
    left: 2.5rem;
    opacity: 0.2;
    transition: 1s;
}

.home__input--leng:checked + label .label__img-us {
    opacity: 0.2;
}

.home__input--leng:checked + label .label__img-es {
    opacity: 1;
}

.home__article--content{
    flex-direction: column;
}

.home__div--txt{
    flex-direction: column;
    align-items: flex-start;
}

.home__div--img{
    display: none;
}

.home__h2{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: .5rem;
}

.home__span {
    opacity: 0.7;
}

.global__span{
    color: var(--main-color);
}

.home__h3{
    font-size: 1.5rem;
    -webkit-text-stroke: .7px var(--main-color);
    color: transparent;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    animation: homeBgText 8s linear infinite;
    animation-delay: 2s;
}

.home__p{
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    font-family: 'Biryani', sans-serif;
}

.global__btn--box{
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.global__btn{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 0 var(--main-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--main-color);
    font-size: 24px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.global__btn:hover{
    transform: translateY(6px);
    box-shadow: none;
    background-color: var(--main-color);
    color: var(--bg-color);
}

.global__btn:active{
    opacity: 0.5;
}

#home__lt{
    display: none;
}

.home__article--rrss{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    box-shadow: 0 4px 0 var(--main-color);
    cursor: pointer;
}

.home__a:hover{
    transform: translateY(6px);
    box-shadow: none;
    background-color: var(--main-color);
    color: var(--bg-color);
    transition: all 0.3s ease-in-out;
}

.home__i{
    width: 2rem;
    height: 2rem;
}

.home__i.active {
    filter: brightness(0) saturate(100%) invert(6%) sepia(5%) saturate(4965%) hue-rotate(182deg) brightness(94%) contrast(86%);
}