<p class="home__leng-h6">Idiomas</p>
<div class="home__div home__div--leng">
    <input type="checkbox" class="home__input home__input--leng" id="home__label">
    <label for="home__label" class="home__label--lbl">
        <img src="/Astro-Portafolio/icons/es.webp" class="label__img label__img-us" alt="Bandera de Estados Unidos, para el idioma ingles." loading="lazy"></img>
        <img src="/Astro-Portafolio/icons/us.webp" class="label__img label__img-es" alt="Bandera de Estados Unidos, para el idioma ingles." loading="lazy"></img>
    </label>
</div>