---
//Componentes
import Header from '../components/modules/Header.astro';
import Home from '../components/modules/Home.astro';
import About from '../components/modules/About.astro';
import Project from '../components/modules/Project.astro';
import Education from '../components/modules/Education.astro';
// import Contact from '../components/modules/Contact.astro';
import Footer from '../components/modules/Footer.astro';
import Skill from '../components/modules/Skill.astro';

// Estilos
import '../styles/Normalize.css';
import '../styles/Layout.css';
import '../styles/Header.css';
import '../styles/Home.css';
import '../styles/About.css';
import '../styles/Project.css';
import '../styles/Education.css';
// import '../styles/Contact.css';
import '../styles/Footer.css';
import '../styles/KeyFrame.css';

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Astro Porfolio</title>
    </head>
    <body>
        <main>
            <Header/>
            <Home/>
            <About/>
            <Project/>
            <Skill/>
            <Education/>
            <!-- <Contact/> -->
        </main>
        <Footer/>
    </body>

</html>
